/* Parameter */
$primary-color: #003c66;
$secondary-color: #db2027;
$light-color: #ddd;
$dark-color: #222;
$bg-color: #fceeeb;

$primary-font-family: "Merriweather", serif;
$secondary-font-family: Verdana, Geneva, sans-serif;

$website-width: 1600px;
$container-padding: 0 3rem;
$flex-grid-padding: 3rem 0;

$bar-height: 5rem;

/* Standart config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: $primary-font-family;
  line-height: 1.4;
  background: $bg-color;
  color: $primary-color;
}
a {
  text-decoration: none;
  color: $primary-color;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 5.4rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2rem;
}
img {
  width: 100%;
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// Set background & text color
@mixin set-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
