.diagram {
  .grid-container {
    margin: 0 auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, $bar-height);
    max-width: 1200px;
  }

  .team-name,
  .team-base,
  .team-won,
  .team-lost {
    position: relative;
  }

  .team-name {
    grid-column: 2 / 10;
    grid-row: 1;

    &::before {
      content: "";
      position: absolute;
      font-size: 3rem;
      z-index: 200;
      left: 1rem;
      top: 2rem;
    }
  }

  .team-base {
    border: black 4px solid;
    border-top-right-radius: $bar-height;
    grid-column: 1;
    grid-row: 1 / 5;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 1.2vw;
      width: 9vw;
      height: 9vw;
      max-width: 110px;
      max-height: 100px;
    }
  }

  .team-won,
  .team-lost {
    border-radius: 0 calc(#{$bar-height} / 2) calc(#{$bar-height} / 2) 0;

    &::before,
    &::after {
      position: relative;
      font-size: 2.4rem;
      color: $light-color;
    }

    &::before {
      top: 0.9rem;
      left: 1rem;
    }

    &::after {
      text-align: end;
      display: block;
      top: -2.5rem;
      right: 1.5rem;
    }
  }

  .team-won {
    grid-row: 3;

    &::before {
      content: "Won";
    }
  }
  .team-lost {
    grid-row: 4;

    &::before {
      content: "Lost";
    }
  }
}

@import "team-color";
