footer {
  .grid-container {
    padding: 3rem 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    text-align: center;
  }

  .grid-item:first-child {
    text-align: start;
  }

  .grid-item:last-child {
    text-align: end;
  }

  h5 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1.1rem;
    color: $dark-color;
  }

  .name {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: underline;
  }
}
