header {
  .grid-container {
    padding: 3rem 0;
    grid-template-columns: 220px auto 220px;
    align-items: center;
    text-align: center;

    h2 {
      color: $secondary-color;
    }
    h3,
    h4 {
      font-family: $secondary-font-family;
    }
  }
}
