@media screen and (max-width: 1000px) {
  /* Standart config */
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.8rem;
  }

  header {
    .grid-container {
      grid-template-columns: 120px auto 120px;
    }
  }

  footer {
    h5 {
      font-size: 1.6rem;
    }

    p {
      font-size: 1rem;
    }

    .copyright {
      font-size: 0.9rem;
    }

    .name {
      font-size: 1.4rem;
    }
  }
}

@media screen and (max-width: 700px) {
  /* Standart config */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.6rem;
  }

  header {
    .grid-container {
      grid-template-columns: 120px auto 120px;
      grid-template-rows: 30px repeat(2, 1fr);
    }
    .header-item:nth-of-type(1) {
      grid-row: 1/3;
      grid-column: 1;
    }
    .header-item:nth-of-type(2) {
      margin-top: 5rem;
      grid-row: 2/4;
      grid-column: 1 / 4;
    }
    .header-item:nth-of-type(3) {
      grid-row: 1/3;
      grid-column: 3;
    }
  }

  .diagram {
    .grid-container {
      grid-template-rows: repeat(3, $bar-height);
    }

    .team-name {
      &::before {
        top: 0.8rem;
      }
    }

    .team-base {
      grid-row: 1 / 4;
    }
    .team-won {
      grid-row: 2;
    }
    .team-lost {
      grid-row: 3;
    }
  }

  footer {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 1.5rem;
    }

    .grid-item:nth-of-type(2) {
      grid-column: 1/3;
      grid-row: 2;
    }
  }
}

@media screen and (max-width: 515px) {
  $bar-height: 3rem;
  $flex-grid-padding: 1rem 0;

  /* Standart config */
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  header {
    .grid-container {
      grid-template-columns: 80px auto 80px;
    }
  }

  .flex-container,
  .grid-container {
    padding: $flex-grid-padding;
  }

  .stats {
    .flex-container {
      flex-direction: column;
    }
    .flex-item {
      padding: 1rem 0;

      &:nth-of-type(1),
      &:nth-of-type(3) {
        order: 1;
      }

      .stats-title {
        margin-bottom: 0;
      }
    }
  }

  .diagram {
    .grid-container {
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(3, $bar-height);
      max-width: 1200px;
    }

    .team-name {
      &::before {
        font-size: 2rem;
        top: 0;
      }
    }

    .team-base {
      border-top-right-radius: $bar-height;

      &::before {
        width: 8vw;
        height: 8vw;
        left: 0.8vw;
      }
    }

    .team-won,
    .team-lost {
      border-radius: 0 calc($bar-height / 2) calc($bar-height / 2) 0;

      &::before,
      &::after {
        font-size: 1.8rem;
      }

      &::before {
        top: 0.3rem;
      }

      &::after {
        top: -2.2rem;
      }
    }
  }

  footer {
    .grid-container {
      grid-template-columns: 1fr;
      grid-row-gap: 1.5rem;
    }

    .grid-item {
      &:first-child {
        grid-row: 1;
        text-align: center;
      }
      &:nth-of-type(2) {
        grid-row: 3;
      }
      &:last-child {
        grid-row: 2;
        text-align: center;
      }
    }
  }
}
