.stats {
  .flex-container {
    justify-content: space-between;
  }

  .flex-item {
    padding: 0 1.5rem;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  img {
    max-width: 100px;
  }

  .stats-title {
    font-family: $secondary-font-family;
    color: $dark-color;
    margin-bottom: 6rem;
  }
  h4 {
    font-family: $secondary-font-family;
  }

  .stats-data {
    color: $secondary-color;
  }

  &.section-d {
    .flex-container {
      &:first-child {
        justify-content: center;
        padding-bottom: 0;
      }
    }

    .stats-title {
      margin-bottom: 0;
    }
  }
}
