$teams: (
  ("CHI" "Chicago Bears" "../assets/teams/CHI.svg" #0b1629 #c83803 5 4),
  ("DET" "Detroit Lions" "../assets/teams/DET.svg" #0076b6 #4796e2 3 5),
  ("GB" "Green Bay Packers" "../assets/teams/GB.svg" #e09d04 #203731 6 2),
  ("MIN" "Minnesota Vikings" "../assets/teams/MIN.svg" #e5a90b #4f2784 3 5)
);

/* Generates all teams automatically */
@each $t in $teams {
  ##{nth($t,1)} {
    .team-name::before {
      color: nth($t, 5);
      content: nth($t, 2);
    }
    .team-base {
      border-color: nth($t, 4);
      background: nth($t, 5);
      &::before {
        background: url(#{(nth($t, 3))}) center center/cover;
      }
    }

    .team-won {
      background: nth($t, 4);
      grid-column: 2 / #{(nth($t, 6) + 2)};
      &::after {
        content: "#{(nth($t,6))}";
      }
      &::before,
      &::after {
        color: set-text-color(nth($t, 4));
      }
    }
    .team-lost {
      background: nth($t, 5);
      grid-column: 2 / #{(nth($t, 7) + 2)};
      &::after {
        content: "#{(nth($t,7))}";
      }
      &::before,
      &::after {
        color: set-text-color(nth($t, 5));
      }
    }
  }
}
