/* Container */
.container {
  width: 100%;
  max-width: $website-width;
  padding: $container-padding;
  margin: auto;
  overflow: hidden;
}

.flex-container {
  padding: $flex-grid-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-container {
  padding: $flex-grid-padding;
  display: grid;
}
