@import "../../scss/config";

#division {
  display: flex;
  flex-direction: column;

  > h1 {
    text-align: center;
    margin: 3rem;
    font-size: 5rem;
  }

  #Offense,
  #Defense {
    order: 3;
  }
}
