@import "../../scss/config";

.conference {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item {
    h3 {
      &.afc {
        color: $secondary-color;
      }
    }

    .grid-img {
      width: 16vw;
      height: 16vw;
      max-width: 230px;
      max-height: 230px;
    }

    @import "../../scss/color";
  }
}

@media screen and (max-width: 750px) {
  .conference {
    .grid-item {
      .grid-img {
        width: 23vw;
        height: 23vw;
      }
    }
  }
}
