@import "../../scss/config";

#diagram {
  .grid-diagram {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 5rem);
    max-width: 1200px;

    .team-name {
      position: relative;
      grid-column: 2 / 10;
      grid-row: 1;

      /* Team Name */
      &::before {
        position: absolute;
        content: "";
        font-size: 3rem;
        font-weight: bold;
        z-index: 200;
        left: 1rem;
        top: 2rem;
      }
    }

    .diagram-base {
      position: relative;
      border: black 4px solid;
      border-top-right-radius: 5rem;
      grid-column: 1;
      grid-row: 1/5;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 1rem;
        width: 9vw;
        height: 9vw;
        max-width: 110px;
        max-height: 110px;
      }
    }

    /* Won and lost beams */
    .diagram-won,
    .diagram-lost {
      border-radius: 0 calc(5rem / 2) calc(5rem / 2) 0;
    }
    .diagram-won {
      grid-row: 3;
    }
    .diagram-lost {
      grid-row: 4;
    }
    .diagram-won::before,
    .diagram-won::after,
    .diagram-lost::before,
    .diagram-lost::after {
      position: relative;
      font-size: 2.4rem;
      color: $light-color;
    }
    .diagram-won::before,
    .diagram-lost::before {
      top: 0.9rem;
      left: 1rem;
    }
    .diagram-won::after,
    .diagram-lost::after {
      text-align: end;
      display: block;
      top: -2.5rem;
      right: 1.5rem;
    }
    .diagram-won::before {
      content: "Won";
    }
    .diagram-lost::before {
      content: "Lost";
    }
  }
}

@media screen and (max-width: 900px) {
  #diagram {
    .grid-diagram {
      grid-template-rows: repeat(4, 3rem);

      .team-name {
        &::before {
          font-size: 3rem;
          top: 1rem;
        }
      }

      .diagram-base {
        border-top-right-radius: 3rem;

        /* Team Logo */
        &::before {
          top: 0rem;
          width: 8.5vw;
          height: 8.5vw;
        }
      }

      /* Won and lost beams */
      .diagram-won,
      .diagram-lost {
        border-radius: 0 calc(3rem / 2) calc(3rem / 2) 0;
      }
      .diagram-won::before,
      .diagram-won::after,
      .diagram-lost::before,
      .diagram-lost::after {
        font-size: 1.5rem;
      }
      .diagram-won::before,
      .diagram-lost::before {
        top: 0.3rem;
      }
      .diagram-won::after,
      .diagram-lost::after {
        top: -1.8rem;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  #diagram {
    .grid-diagram {
      grid-template-rows: repeat(3, 3rem);

      .team-name {
        &::before {
          font-size: 2.5rem;
          top: -0.5rem;
        }
      }

      .diagram-base {
        grid-row: 1/4;

        /* Team Logo */
        &::before {
          margin-top: 1rem;
          width: 8.1vw;
          height: 8.1vw;
        }
      }

      /* Won and lost beams */
      .diagram-won {
        grid-row: 2;
      }
      .diagram-lost {
        grid-row: 3;
      }
      .diagram-won::before,
      .diagram-lost::before {
        left: 3px;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  #diagram {
    .grid-diagram {
      grid-template-rows: repeat(3, 2.5rem);

      .team-name::before {
        font-size: 2rem;
      }

      .diagram-base {
        border-top-right-radius: 2.5rem;

        /* Team Logo */
        &::before {
          width: 6.5vw;
          height: 6.5vw;
        }
      }

      /* Won and lost beams */
      .diagram-won,
      .diagram-lost {
        border-radius: 0 calc(2.5rem / 2) calc(2.5rem / 2) 0;
      }
      .diagram-won::before,
      .diagram-lost::before,
      .diagram-won::after,
      .diagram-lost::after {
        font-size: 1.2rem;
      }
      .diagram-won::before,
      .diagram-lost::before {
        top: 0.2rem;
      }
      .diagram-won::after,
      .diagram-lost::after {
        top: -1.7rem;
        left: 1.5rem;
        color: $dark-color;
      }
    }
  }
}

/* Import all team-colors and -stats */
#diagram {
  @import "../../scss/color";
  /* Special because 0 won or 0 lost  */
  #NYJ {
    .diagram-won {
      grid-column: 2/6;
      background: transparent;
      &::before {
        content: "Won 0";
        color: $dark-color;
      }
      &::after {
        color: transparent;
      }
    }
  }
  #PIT {
    .diagram-lost {
      grid-column: 2/6;
      background: transparent;
      &::before {
        content: "Lost 0";
        color: $dark-color;
      }
      &::after {
        color: transparent;
      }
    }
  }
  /* Special make img round */
  #WAS {
    .diagram-base::before {
      border-radius: 50%;
    }
  }
}
