$teams: (
  // AFC East
  ("BUF" "Buffalo Bills" "../assets/teams/afc_east/BUF.svg" #c60e30 #00338d 7 2),
  ("MIA" "Miami Dolphins" "../assets/teams/afc_east/MIA.svg" #fc4c01 #008e97 5 3),
  ("NE" "New England Patriots" "../assets/teams/afc_east/NE.svg" #c60c30 #012243 3 5),
  ("NYJ" "New York Jets" "../assets/teams/afc_east/NYJ.svg" #068f61 #11573f 0 9),
  // AFC North
  ("BAL" "Baltimore Ravens" "../assets/teams/afc_north/BAL.svg" #9e7c0d #241774 6 2),
  ("CIN" "Cincinnati Bengals" "../assets/teams/afc_north/CIN.svg" #000000 #fa4f14 2 5 1),
  ("CLE" "Cleveland Browns" "../assets/teams/afc_north/CLE.svg" #311c00 #ff3b00 5 3),
  ("PIT" "Pittsburgh Steelers" "../assets/teams/afc_north/PIT.svg" #a5acaf #000000 8 0),
  // AFC South
  ("HOU" "Houston Texans" "../assets/teams/afc_south/HOU.svg" #03202f #a61930 2 6),
  ("IND" "Indianapolis Colts" "../assets/teams/afc_south/IND.svg" #002c5f #0053b3 5 3),
  ("JAX" "Jacksonville Jaguars" "../assets/teams/afc_south/JAX.svg" #d7a22a #006778 1 7),
  ("TEN" "Tennessee Titans" "../assets/teams/afc_south/TEN.svg" #012244 #4c92db 6 2),
  // AFC West
  ("DEN" "Denver Broncos" "../assets/teams/afc_west/DEN.svg" #002344 #fa4f14 3 5),
  ("KC" "Kansas City Chefs" "../assets/teams/afc_west/KC.svg" #000000 #e31837 8 1),
  ("LAC" "Los Angeles Chargers" "../assets/teams/afc_west/LAC.svg" #0080c6 #ffc10d 2 6),
  ("LV" "Las Vegas Raiders" "../assets/teams/afc_west/LV.svg" #0a0a09 #727272 5 3),
  // NFC East
  ("DAL" "Dallas Cowboys" "../assets/teams/nfc_east/DAL.svg" #012244 #004288 2 7),
  ("NYG" "New York Giants" "../assets/teams/nfc_east/NYG.svg" #a61930 #0c2265 2 7),
  ("PHI" "Philadelphia Eagles" "../assets/teams/nfc_east/PHI.svg" #919395 #004c54 3 4 1),
  ("WAS" "Washingotn Football Team" "../assets/teams/nfc_east/WAS.svg" #db9700 #591514 2 6),
  // NFC North
  ("CHI" "Chicago Bears" "../assets/teams/nfc_north/CHI.svg" #0b1629 #c83803 5 4),
  ("DET" "Detroit Lions" "../assets/teams/nfc_north/DET.svg" #0076b6 #4796e2 3 5),
  ("GB" "Green Bay Packers" "../assets/teams/nfc_north/GB.svg" #e09d04 #203731 6 2),
  ("MIN" "Minnesota Vikings" "../assets/teams/nfc_north/MIN.svg" #e5a90b #4f2784 3 5),
  // NFC South
  ("ATL" "Atlanta Falcons" "../assets/teams/nfc_south/ATL.svg" #000000 #a71a30 3 6),
  ("CAR" "Carolina Panthers" "../assets/teams/nfc_south/CAR.svg" #000000 #0085ca 3 6),
  ("NO" "New Orleans Saints" "../assets/teams/nfc_south/NO.svg" #000000 #d3bc8d 6 2),
  ("TB" "Tampa Bay Buccaneers" "../assets/teams/nfc_south/TB.svg" #000000 #a81930 6 3),
  // NFC West
  ("ARI" "Arizona Cardinals" "../assets/teams/nfc_west/ARI.svg" #ffb612 #97223f 5 3),
  ("LA" "Los Angeles Rams" "../assets/teams/nfc_west/LA.svg" #feb600 #003594 5 3),
  ("SEA" "Seattle Seahawks" "../assets/teams/nfc_west/SEA.svg" #69be27 #012244 6 2),
  ("SF" "San Francisco 49ers" "../assets/teams/nfc_west/SF.svg" #b4995e #aa0000 4 5)
);

/* Generates all teams automatically */
@each $t in $teams {
  ##{nth($t,1)} {
    &::before {
      background: url(#{(nth($t, 3))}) center center/cover;
    }

    .team-name::before {
      color: nth($t, 5);
      content: nth($t, 2);
    }
    .diagram-base {
      border-color: nth($t, 4);
      background: nth($t, 5);
      &::before {
        background: url(#{(nth($t, 3))}) center center/cover;
      }
    }
    .diagram-won {
      background: nth($t, 4);
      grid-column: 2 / #{(nth($t, 6) + 2)};
      &::after {
        content: "#{(nth($t, 6))}";
      }
      &::before,
      &::after {
        color: set-text-color(nth($t, 4));
      }
    }
    .diagram-lost {
      background: nth($t, 5);
      grid-column: 2 / #{(nth($t, 7) + 2)};
      &::after {
        content: "#{(nth($t,7))}";
      }
      &::before,
      &::after {
        color: set-text-color(nth($t, 5));
      }
    }
  }
}
