@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

/* Parameter */
$primary-color: #003c66;
$secondary-color: #db2027;
$light-color: #ddd;
$dark-color: #222;
$bg-color: #fceeeb;
$bg-navbar: rgba(
  $color: #fff,
  $alpha: 0.8,
);

$primary-font-family: "Merriweather", serif;
$secondary-font-family: Verdana, Geneva, sans-serif;

$container-max-width: 1500px;
$diagram-max-width: 890px;

$padding: 4rem;

/* basic setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 1.6rem;
  color: $primary-color;
  background-color: $bg-color;
  line-height: 1.4;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2.2rem;
}
a {
  text-decoration: none;
  color: $primary-color;

  &:hover {
    opacity: 0.75;
  }
}
ul,
ol {
  list-style: none;
}

@function set-text-color($color) {
  @if (lightness($color) > 44) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}
