@import 'config';

.container {
  max-width: $container-max-width;
  margin: auto;
  padding: $padding;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-img {
  position: relative;
  margin: auto;
  display: block;

  &::before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
  }
}

.pt-0 {
  padding-top: 0;
}
