@import "../../scss/config";

#home {
  display: flex;
  justify-content: center;
  text-align: center;

  .container {
    width: 100%;
  }

  .flex-container {
    margin-top: 3rem;
    justify-content: space-between;

    img {
      max-width: 311px;
      width: 16vw;
    }

    .color-red {
      color: $secondary-color;
    }
  }
}

@media screen and (max-width: 750px) {
  #home {
    .flex-container {
      h2 {
        font-size: 2.4rem;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #home {
    h1 {
      font-size: 3.5rem;
    }
    .flex-container {
      flex-direction: column;

      img {
        margin-top: 1rem;
      }
    }
  }
}
