@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
/* Parameter */
/* Standart config */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  line-height: 1.4;
  background: #fceeeb;
  color: #003c66;
}

a {
  text-decoration: none;
  color: #003c66;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

img {
  width: 100%;
}

/* Container */
.container {
  width: 100%;
  max-width: 1600px;
  padding: 0 3rem;
  margin: auto;
  overflow: hidden;
}

.flex-container {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-container {
  padding: 3rem 0;
  display: grid;
}

header .grid-container {
  padding: 3rem 0;
  grid-template-columns: 220px auto 220px;
  align-items: center;
  text-align: center;
}
header .grid-container h2 {
  color: #db2027;
}
header .grid-container h3,
header .grid-container h4 {
  font-family: Verdana, Geneva, sans-serif;
}

.stats .flex-container {
  justify-content: space-between;
}

.stats .flex-item {
  padding: 0 1.5rem;
}
.stats .flex-item:first-child {
  padding-left: 0;
}
.stats .flex-item:last-child {
  padding-right: 0;
}

.stats img {
  max-width: 100px;
}

.stats .stats-title {
  font-family: Verdana, Geneva, sans-serif;
  color: #222;
  margin-bottom: 6rem;
}

.stats h4 {
  font-family: Verdana, Geneva, sans-serif;
}

.stats .stats-data {
  color: #db2027;
}

.stats.section-d .flex-container:first-child {
  justify-content: center;
  padding-bottom: 0;
}

.stats.section-d .stats-title {
  margin-bottom: 0;
}

.diagram .grid-container {
  margin: 0 auto;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 5rem);
  max-width: 1200px;
}

.diagram .team-name,
.diagram .team-base,
.diagram .team-won,
.diagram .team-lost {
  position: relative;
}

.diagram .team-name {
  grid-column: 2 / 10;
  grid-row: 1;
}
.diagram .team-name::before {
  content: "";
  position: absolute;
  font-size: 3rem;
  z-index: 200;
  left: 1rem;
  top: 2rem;
}

.diagram .team-base {
  border: black 4px solid;
  border-top-right-radius: 5rem;
  grid-column: 1;
  grid-row: 1 / 5;
}
.diagram .team-base::before {
  content: "";
  display: block;
  position: absolute;
  top: 1.5rem;
  left: 1.2vw;
  width: 9vw;
  height: 9vw;
  max-width: 110px;
  max-height: 100px;
}

.diagram .team-won,
.diagram .team-lost {
  border-radius: 0 calc(5rem / 2) calc(5rem / 2) 0;
}
.diagram .team-won::before,
.diagram .team-won::after,
.diagram .team-lost::before,
.diagram .team-lost::after {
  position: relative;
  font-size: 2.4rem;
  color: #ddd;
}
.diagram .team-won::before,
.diagram .team-lost::before {
  top: 0.9rem;
  left: 1rem;
}
.diagram .team-won::after,
.diagram .team-lost::after {
  text-align: end;
  display: block;
  top: -2.5rem;
  right: 1.5rem;
}

.diagram .team-won {
  grid-row: 3;
}
.diagram .team-won::before {
  content: "Won";
}

.diagram .team-lost {
  grid-row: 4;
}
.diagram .team-lost::before {
  content: "Lost";
}

/* Generates all teams automatically */
#CHI .team-name::before {
  color: #c83803;
  content: "Chicago Bears";
}

#CHI .team-base {
  border-color: #0b1629;
  background: #c83803;
}
#CHI .team-base::before {
  background: url(../assets/teams/CHI.svg) center center/cover;
}

#CHI .team-won {
  background: #0b1629;
  grid-column: 2/7;
}
#CHI .team-won::after {
  content: "5";
}
#CHI .team-won::before,
#CHI .team-won::after {
  color: #ddd;
}

#CHI .team-lost {
  background: #c83803;
  grid-column: 2/6;
}
#CHI .team-lost::after {
  content: "4";
}
#CHI .team-lost::before,
#CHI .team-lost::after {
  color: #ddd;
}

#DET .team-name::before {
  color: #4796e2;
  content: "Detroit Lions";
}

#DET .team-base {
  border-color: #0076b6;
  background: #4796e2;
}
#DET .team-base::before {
  background: url(../assets/teams/DET.svg) center center/cover;
}

#DET .team-won {
  background: #0076b6;
  grid-column: 2/5;
}
#DET .team-won::after {
  content: "3";
}
#DET .team-won::before,
#DET .team-won::after {
  color: #ddd;
}

#DET .team-lost {
  background: #4796e2;
  grid-column: 2/7;
}
#DET .team-lost::after {
  content: "5";
}
#DET .team-lost::before,
#DET .team-lost::after {
  color: #222;
}

#GB .team-name::before {
  color: #203731;
  content: "Green Bay Packers";
}

#GB .team-base {
  border-color: #e09d04;
  background: #203731;
}
#GB .team-base::before {
  background: url(../assets/teams/GB.svg) center center/cover;
}

#GB .team-won {
  background: #e09d04;
  grid-column: 2/8;
}
#GB .team-won::after {
  content: "6";
}
#GB .team-won::before,
#GB .team-won::after {
  color: #222;
}

#GB .team-lost {
  background: #203731;
  grid-column: 2/4;
}
#GB .team-lost::after {
  content: "2";
}
#GB .team-lost::before,
#GB .team-lost::after {
  color: #ddd;
}

#MIN .team-name::before {
  color: #4f2784;
  content: "Minnesota Vikings";
}

#MIN .team-base {
  border-color: #e5a90b;
  background: #4f2784;
}
#MIN .team-base::before {
  background: url(../assets/teams/MIN.svg) center center/cover;
}

#MIN .team-won {
  background: #e5a90b;
  grid-column: 2/5;
}
#MIN .team-won::after {
  content: "3";
}
#MIN .team-won::before,
#MIN .team-won::after {
  color: #222;
}

#MIN .team-lost {
  background: #4f2784;
  grid-column: 2/7;
}
#MIN .team-lost::after {
  content: "5";
}
#MIN .team-lost::before,
#MIN .team-lost::after {
  color: #ddd;
}

footer .grid-container {
  padding: 3rem 0;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  text-align: center;
}

footer .grid-item:first-child {
  text-align: start;
}

footer .grid-item:last-child {
  text-align: end;
}

footer h5 {
  font-size: 1.8rem;
}

footer p {
  font-size: 1.2rem;
}

footer .copyright {
  font-size: 1.1rem;
  color: #222;
}

footer .name {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

footer a {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  /* Standart config */
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  header .grid-container {
    grid-template-columns: 120px auto 120px;
  }
  footer h5 {
    font-size: 1.6rem;
  }
  footer p {
    font-size: 1rem;
  }
  footer .copyright {
    font-size: 0.9rem;
  }
  footer .name {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 700px) {
  /* Standart config */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  header .grid-container {
    grid-template-columns: 120px auto 120px;
    grid-template-rows: 30px repeat(2, 1fr);
  }
  header .header-item:nth-of-type(1) {
    grid-row: 1/3;
    grid-column: 1;
  }
  header .header-item:nth-of-type(2) {
    margin-top: 5rem;
    grid-row: 2/4;
    grid-column: 1 / 4;
  }
  header .header-item:nth-of-type(3) {
    grid-row: 1/3;
    grid-column: 3;
  }
  .diagram .grid-container {
    grid-template-rows: repeat(3, 5rem);
  }
  .diagram .team-name::before {
    top: 0.8rem;
  }
  .diagram .team-base {
    grid-row: 1 / 4;
  }
  .diagram .team-won {
    grid-row: 2;
  }
  .diagram .team-lost {
    grid-row: 3;
  }
  footer .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
  }
  footer .grid-item:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 2;
  }
}

@media screen and (max-width: 515px) {
  /* Standart config */
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  header .grid-container {
    grid-template-columns: 80px auto 80px;
  }
  .flex-container,
  .grid-container {
    padding: 1rem 0;
  }
  .stats .flex-container {
    flex-direction: column;
  }
  .stats .flex-item {
    padding: 1rem 0;
  }
  .stats .flex-item:nth-of-type(1),
  .stats .flex-item:nth-of-type(3) {
    order: 1;
  }
  .stats .flex-item .stats-title {
    margin-bottom: 0;
  }
  .diagram .grid-container {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 3rem);
    max-width: 1200px;
  }
  .diagram .team-name::before {
    font-size: 2rem;
    top: 0;
  }
  .diagram .team-base {
    border-top-right-radius: 3rem;
  }
  .diagram .team-base::before {
    width: 8vw;
    height: 8vw;
    left: 0.8vw;
  }
  .diagram .team-won,
  .diagram .team-lost {
    border-radius: 0 calc($bar-height / 2) calc($bar-height / 2) 0;
  }
  .diagram .team-won::before,
  .diagram .team-won::after,
  .diagram .team-lost::before,
  .diagram .team-lost::after {
    font-size: 1.8rem;
  }
  .diagram .team-won::before,
  .diagram .team-lost::before {
    top: 0.3rem;
  }
  .diagram .team-won::after,
  .diagram .team-lost::after {
    top: -2.2rem;
  }
  footer .grid-container {
    grid-template-columns: 1fr;
    grid-row-gap: 1.5rem;
  }
  footer .grid-item:first-child {
    grid-row: 1;
    text-align: center;
  }
  footer .grid-item:nth-of-type(2) {
    grid-row: 3;
  }
  footer .grid-item:last-child {
    grid-row: 2;
    text-align: center;
  }
}
