@import './../../scss/config';

.flex-container {
  h1 {
    margin: 2rem;
    color: $secondary-color;
  }
}

.center {
  margin: 3rem;
  text-align: center;
  color: $secondary-color;
}

.continent-item {
  font-size: 2rem;
  color: $secondary-color;
  padding: 1rem 5rem 1rem 5rem;
  width: 100%;
  border-bottom: solid #999 1px;
}

.country-list {
  display: none;
}

.country-list-checked {
  display: flex;
  flex-wrap: wrap;
}

.country-item {
  flex-basis: 33%;
  font-size: 1.8rem;
  color: $primary-color;
  padding: 0 1rem 0 1rem;
}

/* The label */
.label {
  display: block;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
}

.arrow {
  background-color: transparent;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: #f4f4f4;
}

.label:hover input ~ .arrow {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
  background-color: #2196f3;
}

.label input:checked ~ .arrow {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
  display: block;
}

.label input:checked ~ .arrow:after {
  // top: 8px;
  transform: rotate(225deg);
}

/* Style the checkmark/indicator */
.label .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label .arrow:after {
  display: block;
  left: 5px;
  top: 10px;
  width: 8px;
  height: 8px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label input:checked ~ .country-list {
  display: flex;
}

.recap {
  margin: 2rem;
  flex-basis: 40%;
  text-align: center;

  .country {
    color: $secondary-color;
  }
}

.diagram-item {
  height: 450px;
  margin-bottom: 5rem;
}

@media screen and (max-width: 700px) {
  .country-item {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .diagram-item {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .country-item {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 400px) {
  .diagram-item {
    height: 250px;
  }
}
