@import '../../scss/config';

#header {
  position: relative;

  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 8;
    font-size: 2.5rem;
    background-color: $bg-navbar;
    transition: all 0.4s ease;

    &.top {
      background-color: transparent;
    }

    .flex-container {
      justify-content: space-between;
      z-index: 15;

      .logo {
        a {
          display: flex;
          align-items: center;

          &:hover {
            opacity: 1;
          }

          img {
            width: 5rem;
            margin-right: 1.5rem;
          }

          .afc {
            color: $secondary-color;
          }
        }
      }

      ul li {
        display: inline-block;
        padding: 2.5rem 2rem;
        position: relative;

        a {
          &:hover {
            cursor: pointer;
            color: $secondary-color;
          }
        }

        ul {
          display: none;
        }

        &:hover {
          cursor: pointer;
          color: $secondary-color;

          ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: -30px;
            width: 18rem;
            margin-top: 17px;
            background: $bg-navbar;

            li {
              display: block;
              padding: 1rem 2rem;
            }
          }
        }
      }
    }
  }

  /* Header */
  background: url('../../assets/header.jpg') no-repeat center center/cover;
  height: 100vh;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 0 2rem;

    * {
      z-index: 3;
      line-height: 1.2;
    }

    img {
      width: 30rem;
    }

    h1 {
      font-size: 6rem;
      color: $secondary-color;
    }

    h2,
    h3 {
      font-family: $secondary-font-family;
    }

    h3 {
      font-size: 2.8rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #fff, $alpha: 0.3);
    }
  }
}

@media screen and (max-width: 810px) {
  #header {
    .navbar {
      position: sticky;
      height: 140px;

      &.top {
        background-color: $bg-navbar;
      }
      .flex-container {
        margin: 0;
        padding: 15px 15px 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;

        ul li {
          padding: 0 20px 15px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }

          &:hover {
            ul {
              margin-top: 15px;
            }
          }
        }
      }
    }

    .content {
      img {
        margin-top: -140px;
        // margin-top: 8rem;
      }
    }
  }
}

@media screen and (max-width: 485px) {
  #header .navbar {
    font-size: 2rem;
  }
  #header .navbar .flex-container ul li {
    padding: 0 10px 10px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  #header {
    .content {
      img {
        width: 18rem;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  #header {
    .navbar {
      height: 110px;
      font-size: 1.8rem;

      .navbar-bg.top {
        opacity: 1;
      }

      .flex-container {
        flex-direction: column;
        padding-top: 1.5rem;

        .logo a {
          img {
            width: 3.8rem;
          }
          h2 {
            font-size: 2.8rem;
          }
        }
      }
    }
  }
}

/* Landscape */
@media screen and (max-height: 650px) {
  #header {
    .content {
      img {
        width: 15rem;
      }

      h1 {
        font-size: 4.5rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      H3 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 751px) and (max-height: 380px) {
  #header {
    .navbar {
      position: sticky;
      &.top {
        background-color: $bg-navbar;
      }

      .flex-container {
        ul li {
          &:hover {
            ul {
              margin-top: 17px;
            }
          }
        }
      }
    }

    .content {
      img {
        display: none;
      }

      h1 {
        margin-top: -70px;
        font-size: 5.5rem;
      }

      h2 {
        font-size: 3rem;
      }

      H3 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 750px) and (max-height: 500px) {
  #header {
    .content {
      img {
        width: 10rem;
      }

      h1 {
        font-size: 4.2rem;
      }

      h2 {
        font-size: 2rem;
      }

      H3 {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (max-width: 750px) and (max-height: 500px) {
  #header {
    .content {
      img {
        display: none;
      }

      h1 {
        margin-top: -140px;
        font-size: 4.5rem;
      }

      h2 {
        font-size: 2.2rem;
      }

      H3 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 750px) and (max-height: 500px) {
  #header {
    .navbar {
      font-size: 2rem;
      height: 130px;
    }
  }
}
