@import "../../scss/config";

.stats {
  .flex-container {
    text-align: center;
    justify-content: space-between;

    img {
      width: 15rem;
      margin-bottom: 1rem;
    }
    h1 {
      color: $secondary-color;
      font-size: 6rem;
      margin: 0;
    }
    h2,
    h3 {
      font-family: $secondary-font-family;
    }
    h2 {
      color: $dark-color;
      margin-bottom: 3rem;
    }
  }
}

@media screen and (max-width: 760px) {
  .stats {
    .flex-container {
      img {
        width: 10rem;
      }
      h1 {
        font-size: 5rem;
      }
      h2 {
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .stats {
    .container {
      padding: 1rem 2rem;
    }

    .flex-container {
      flex-direction: column;

      .grid-item {
        margin-bottom: 2rem;

        &:first-child,
        &:last-child {
          order: 1;
        }
      }

      img {
        width: 8rem;
      }
      h1 {
        margin-bottom: 2rem;
        font-size: 4.5rem;
      }
      h2 {
        font-size: 2.8rem;
        margin-bottom: 0;
      }
      h3 {
        font-size: 1.8rem;
      }
    }
  }
}
