@import "../../scss/config";

#conferences {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.AFC {
      color: $secondary-color;
    }

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }

    > .grid-container {
      margin-top: 2rem;
      grid-gap: 4rem;
    }

    .grid-item {
      img {
        width: 16vw;
        max-width: 230px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  #conferences {
    .container {
      > .grid-container {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #conferences {
    .container {
      padding: 1rem 4rem;
    }
  }
}
