@import '../../scss/config';

.center {
  margin: auto;
  text-align: center;
  color: $primary-color;
}
div.loader {
  font-size: 100px;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}
