@import "../../scss/config";

#bye-week {
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      font-family: $secondary-font-family;
      color: $dark-color;
      margin-bottom: 3rem;
    }

    h3 {
      span {
        color: $secondary-color;
      }
    }

    .grid-container {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10rem;
    }

    .grid-item {
      .grid-img {
        width: 10rem;
        height: 10rem;
      }

      @import "../../scss/color";
    }
  }
}

@media screen and (max-width: 760px) {
  #bye-week {
    .container {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #bye-week {
    .container {
      padding: 0 4rem 3rem;
      .grid-container {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
      }
    }
  }
}
