@import "../../scss/config";

#footer {
  .flex-container {
    justify-content: space-between;
    align-items: flex-end;

    h4 {
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }
    p,
    a {
      font-size: 1.2rem;
    }
    .name {
      font-size: 1.5rem;
      margin-bottom: 0.4rem;
    }
    .source {
      text-align: end;
    }
  }
}

@media screen and (max-width: 550px) {
  #footer {
    .flex-container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .impressum {
        margin-bottom: 2rem;
      }
      .source {
        text-align: center;
      }
    }
  }
}
